@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?53732548');
  src: url('../font/fontello.eot?53732548#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?53732548') format('woff2'),
       url('../font/fontello.woff?53732548') format('woff'),
       url('../font/fontello.ttf?53732548') format('truetype'),
       url('../font/fontello.svg?53732548#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53732548#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glass:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.icon-glide-g:before { content: '\f2a6'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */