
.icon-glass:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.icon-glide-g:before { content: '\f2a6'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */